<script>

//Pivot Points Overlay. Expected Format: [ <r3>,<r2>,<r1>,<p>,<s1>,<s2>,<s4> ]
import { Overlay, Tool } from 'trading-vue-js'

export default {
    name: "PivotPoints",
    mixins: [Overlay],
    computed: {
        sett() {
            return this.$props.settings;
        },
        pivot_point_colors() {
            return this.sett.pivotPointColors || ["#E90910", "#FF5C01", "#E4845E", "#BE5DA8", "#48a6c2", "#bef992", "#3DE79F"];
        },
        show_prev_pivots() {
            return this.sett.showPrevPivots || false;
        },
        prev_pivot_line_width() {
            return this.sett.prevPivotLineWidth || 0.75;
        },
        curr_pivot_line_width() {
            return this.sett.currPivotLineWidth || 1.25;
        },
        data_index() {
            return this.sett.dataIndex || [1, 2, 3, 4, 5, 6, 7];
        }
    },
    methods: {
        meta_info() {
            return {
                author: "Sudeep Batra (www.stoxalpha.com)",
                version: "1.0.0"
            };
        },
        draw(ctx) {
            const layout = this.$props.layout;
            let length = this.$props.data.length;
            var currentDate = new Date();
            var firstDayOfMonth = Math.round(new Date(currentDate.getFullYear(), currentDate.getMonth(), 1).getTime());
            var lastDayOfMonth = Math.round(new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0).getTime());

            for (var index of this.data_index) {
                ctx.beginPath();
                ctx.lineWidth = this.prev_pivot_line_width;
                ctx.strokeStyle = this.pivot_point_colors[index - 1];
                if (this.show_prev_pivots) {
                    let prevPoint = 0;                    
                    for (var p of this.$props.data) {
                        if (prevPoint === p[index]) {
                            ctx.lineTo(layout.t2screen(p[0]), layout.$2screen(p[index]));                            
                        } else {
                            ctx.stroke();
                            ctx.beginPath();
                        }

                        prevPoint = p[index];
                    }
                }

                ctx.beginPath();
                ctx.lineWidth = this.curr_pivot_line_width;
                ctx.strokeStyle = this.pivot_point_colors[index - 1];                
                ctx.moveTo(layout.t2screen(firstDayOfMonth), layout.$2screen(this.$props.data[length - 1][index]));
                ctx.lineTo(layout.t2screen(lastDayOfMonth), layout.$2screen(this.$props.data[length - 1][index]));
                ctx.stroke();
            }
        },

        use_for() {
            return ["PivotPoints"];
        },

        data_colors() { return this.pivot_point_colors }
    }
};
</script>
