<script>

//Events Overlay. Expected Format: [ <time> <high> <event>]
import { Overlay, Tool } from 'trading-vue-js'

export default {
    name: "Events",
    mixins: [Overlay],
    computed: {
        sett() {
            return this.$props.settings;
        },
        default_font: function default_font() {
            return '12px ' + this.$props.font.split('px').pop();
        },
        new_font: function new_font() {
            return this.sett.font || this.default_font;
        },
        event_colors() {
            return this.sett.eventColors || ["#BDC2C2", "#BDC2C2"];
        },
        show_background_line() {
            return this.sett.showBackgroundLine || true;
        },        
    },
    methods: {
        meta_info() {
            return {
                author: "Sudeep Batra (www.stoxalpha.com)",
                version: "1.0.0"
            };
        },
        draw(ctx) {
            let layout = this.$props.layout
            ctx.font = this.new_font
            ctx.textAlign = 'center'
            ctx.fillStyle = this.event_colors[1];

            for (var p of this.$props.data) {
                let x = layout.t2screen(p[0])

                if (this.show_background_line) {
                    ctx.setLineDash([1, 50])
                    ctx.lineWidth = 0.1
                    ctx.strokeStyle = 'white'
                    ctx.beginPath()
                    ctx.moveTo(x, 0)
                    ctx.lineTo(x, layout.height)
                    ctx.stroke()
                }

                if (p[1] === -1) {
                    ctx.fillText(p[2], x, layout.height - 50)
                } else {
                    ctx.fillText(p[2], x, layout.$2screen(p[1]) - 30)
                }
            }
        },

        use_for() {
            return ["Events"];
        },

        data_colors() { return this.event_colors }
    }
};
</script>
